<!DOCTYPE html>
<html ng-app="MyApp">
<head lang="en">

    <meta charset="UTF-8">
    <title>Secured App - Contacts</title>

</head>
<body ng-controller="ContactsController">

    <table style="width: 500px;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
        </tr>
        <tr ng-repeat="contact in contacts" style="text-align: center">
            <td>{{contact.id}}</td>
            <td>{{contact.name}} {{contact.lastName}}</td>
            <td>{{contact.phone}}</td>
            <td>
                <button ng-click="delete(contact)">Delete</button>
            </td>
        </tr>
    </table>

    <script src="lib/angular/angular.min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>